body{
    outline: none;
    margin: 0%;
}
header{
    height: 12vh;
    background-color: #634444;
}
nav{
   
}
#btns{
    margin-top: 2%;
    display: inline-block;
  text-decoration: none;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 180%;
  border: #1C1C1C solid 2px;
  text-align: center;
  height: 4vh;

}
main{
    height: 76vh;
    background-color: #926a6a;
}
.Titulo{
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 200%;
    color: white;
    margin-left: 35%;
}
#cardápio{
    display: inline-block;
    width: 20%;
    height: 40vh;
    margin-top: 7%;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
     font-style: normal;
    font-size: 180%;
}
#retrato{
    background-color: #D9D9D9;
    width: 90%;
    height: 30vh;
    margin-left: 5%;
   
}
#cardápio1{
    display: inline-block;
    width: 20%;
    height: 40vh;
    margin-top: 7%;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
     font-style: normal;
    font-size: 180%;
}
#retrato1{
    background-color: #D9D9D9;
    width: 90%;
    height: 30vh;
    margin-left: 5%;
   opacity: 0;
}
footer{   
    height: 12vh;
    background-color: #634444;   
}
#fim{
    display: inline-block;
}
#pé{
    margin-top: 3%;
    text-decoration: none;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 170%;
    margin-left: 5%;
    display: inline-block;
    color: #1C1C1C;
}
@media (max-width: 767px) {
    #btns{
        font-size: 100%;
    }
   .Titulo{
    font-size: 100%;
    margin-left: 25%;
   }
   #cardápio{
    font-size: 100%;
   }
   #retrato{
    height: 10vh;
    width: 100%;
   }
   #retrato1{
    opacity: 1;
    height: 30vh;
    position: absolute;
    margin-top: -40%;
   }
}
