body{
    outline: none;
    margin: 0%;
}
header{
    height: 12vh;
    background-color: #634444;
}
nav{
   
}
#btns{
    margin-top: 2%;
    display: inline-block;
  text-decoration: none;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 180%;
  border: #1C1C1C solid 2px;
  text-align: center;
  height: 4vh;

}
main{
    height: 126vh;
    background-color: #926a6a;
}
.contact{
    text-align: center;
    font-size: 200%;
    font-family:"Quicksand", arial, sans-serif;
    color: #1C1C1C;
}
.cadastro{
    font-family:"Quicksand", arial, sans-serif;
    color: #1C1C1C;
    margin-left: 23%;
    font-weight: 600;
    display: inline-block;
   }
   .cadastro2{
    font-family:"Quicksand", arial, sans-serif;
    color: #1C1C1C;
    margin-left: 23%;
    font-weight: 600;
    display: inline-block;
   }
   .send{
     margin-top: 10%;
     border-radius: 10px;
     background-color: #1C1C1C;
     color: white;
     margin-left: 43%;
     width: 10%;
     height: 6vh;
   }
   #campoinfo1{
    width: 25%;
     background-color: white;
    border: #1C1C1C solid 1px;
     display: inline-block;
     outline: none;
     height: 3vh;
   }
footer{   
    height: 12vh;
    background-color: #634444;   
}
#fim{
    display: inline-block;
}
#pé{
    margin-top: 3%;
    text-decoration: none;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 170%;
    margin-left: 5%;
    display: inline-block;
    color: #1C1C1C;
}
@media (max-width: 767px) {
    #btns{
        font-size: 100%;
    }
    .send{
        width: 30%;
        margin-left: 35%;
    }
    .cadastro2{
        margin-left: 5%;
    }
    #pé{
        font-size: 100%;
    }
}