body{
    outline: none;
    margin: 0%;
}
header{
    height: 12vh;
    background-color: #634444;
}
nav{
   
}
#btns{
    margin-top: 2%;
    display: inline-block;
  text-decoration: none;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 180%;
  border: #1C1C1C solid 2px;
  text-align: center;
  height: 4vh;

}
main{
    height: 76vh;
    background-color: #926a6a;
   width: 100%;

}
#meio{
    display: inline-block;
    width: 20%;
    height: 50vh;
    
    margin-left: 10%;
    margin-top: 2%;
}
.retrato{
    height: 60vh;
    width: 50vh;
    background-color: #D9D9D9;
    border: #1C1C1C solid 1px;
}
.QuemSomosNós{
    font-family: "Julius Sans One", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 200%;
  width: 38%;
  position: absolute;
  color: white;

}
#logo{
    margin-left: -7%;
    margin-top: 25%;
    position: absolute;
}
footer{   
    height: 12vh;
    background-color: #634444;   
}
#fim{
    display: inline-block;
}
#pé{
    margin-top: 3%;
    text-decoration: none;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 170%;
    margin-left: 5%;
    display: inline-block;
    color: #1C1C1C;
}
@media (max-width: 767px) {
    #btns{
        font-family: "Julius Sans One", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 100%;
        border: #1C1C1C solid 2px;
        text-align: center;
        height: 4vh;
        }
        .retrato{
            margin-left:-40%;
            width: 190%;
            height: 30vh;
        }
        #logo{
            width: 40%;
            margin-left: -30%;
            margin-top: 90%;
        }
        .QuemSomosNós{
            font-size: 105%;
            width: 60%;
        }
        #pé{
          font-size: 100%;
        }
        footer a svg{
        width: 5%;
        }
  
}
